<app-navbar title="Edit Student Details"></app-navbar>
<div>
    <form #editStudentForm="ngForm"  class="form-container" (ngSubmit)="editStudent(editStudentForm.value)">
        <input id="student-name" [(ngModel)]="studentData.name" name="name" type="text" placeholder="Name">
        <input id="student-age" [(ngModel)]="studentData.age" name="age" type="text" placeholder="Age">
        <input id="student-Hometown" [(ngModel)]="studentData.hometown" name="hometown" type="text" placeholder="Hometown">
        <button id="student-edit" class="form-button">Edit & Save</button>
    </form>
</div>